@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");

/*Folha de estilo tela Principal.html*/

#cabecalho{
    background-color: white;
    margin-bottom: 0px;
}

nav#menu{
    display: flex;
    justify-content: center;
}
nav#menu ul{
    list-style: none;
    position: relative;
    
}
nav#menu li{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: normal;
    font-size: 20px;
    margin: 15px;
    background-color: white;
}
nav#menu a{
    text-decoration: none;
    color:black;
}
nav#menu a:hover{
    color:gray;
}

#foto{
    position: relative;
    width:800px;
    top: 0px;
    float: right;
    margin: auto;
    margin-right: 10px;
    padding: 0px;
}

h2{
    font-family: 'Beth Ellen', cursive;
    font-size: 30pt;
}
#index{
    position: relative;
    top:150px;
    margin-left: 10px;
    padding: 0px;
}
#index h2{
    margin-bottom: 0px;
}
#index p{
    font-family: monospace;
    margin-top: 0px;
    font-size: 12pt;
}

#botao {
    position: absolute;
    margin: 5px;
    margin-right: 0px;
    border: 3px solid white;
    padding: 5px;
    background-color: black;
    box-shadow: 1px 1px 4px black;
}

#botao a{
    font-family: monospace;
    font-size: 12pt;
    color: white;
    text-decoration: none;
}

/*Folha de estilo tela Aboutme.html*/

#bloco{
    display: flex;
    flex-direction: column;
    width: 100%;
}
h2{
    position: relative;
    margin: 0px;
    padding: 0px;
}

#foto-eu{
    position: relative;
    height:400px;
    float: left;
    margin-right: 10px;
}
p{
    font-family: monospace;
    position: relative;
    padding: 0px;
    text-align: justify;
    font-size: 15px;
}
/*Folha de estilo tela formulario.html*/

input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 30px;
    font-size: 15px;

}
textarea{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


#formulario{
   position: relative;
   text-align:center;
}
#form h2{
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;

}